# Exclude test files from project statistics
# cf. https://github.com/github/linguist#troubleshooting
benchexec/tablegenerator/test_integration/expected/** linguist-vendored
benchexec/tablegenerator/test_integration/results/** linguist-vendored
