include *.md
include LICENSE
include benchexec/tablegenerator/template*
recursive-include benchexec/tablegenerator/react-table/build *.min.js
recursive-include benchexec/tablegenerator/react-table/build *.min.css
recursive-include bin *
recursive-include contrib *
recursive-include doc *
prune doc/example-table
recursive-include benchexec/tablegenerator/test_integration *.py *.xml *.xml.gz *.xml.bz2 *.log *.csv *.html *.zip
recursive-include test/tasks *
