/*
 * This file is part of BenchExec, a framework for reliable benchmarking:
 * https://github.com/sosy-lab/benchexec
 *
 * SPDX-FileCopyrightText: 2019-2020 Dirk Beyer <https://www.sosy-lab.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.App {
  // text-align: center;
  font-family: "Droid Sans", "Liberation Sans", Ubuntu, "Trebuchet MS", Tahoma,
    Arial, Verdana, sans-serif;
}
// $key-color: #009440;
$key-color: #71bcff;
$border-color: rgb(173, 173, 173);
$table-border: 1px solid $border-color;
$hover-color: darken(white, 20%);

//------------------common------------------
.link {
  text-decoration: underline;
  color: $key-color;
  cursor: pointer;
}
.btn {
  margin: 0 10px 9px 0;
  text-align: center;
  height: 35px;
  cursor: pointer;

  //background-image: linear-gradient(to left, $key-color, white);
  box-shadow: 0 4px 12px 0 rgba($key-color, 0.2);
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-size: 300% 100%;

  &:hover {
    // background-position: 100% 0;
    // -o-transition: all .4s ease-in-out;
    // -webkit-transition: all .4s ease-in-out;
    // transition: all .4s ease-in-out;
    background: $key-color;
  }

  &:disabled {
    background: darkgrey;
    cursor: default;
    &:hover {
      background: darkgrey;
    }
  }
}
.btn-apply {
  margin-left: 100px;
  background: $key-color;
  //background-image: linear-gradient(to right, $key-color, white);
  box-shadow: 0 4px 12px 0 rgba($key-color, 0.5);
  &:hover {
    background: white;
  }
}

.selectColumns {
  cursor: pointer;
  font-weight: 700;
  background-color: white;
  &:hover {
    background-color: $hover-color;
  }
}
.header__tool-infos {
  font-weight: 700;
}

.separator {
  margin: 0 !important;
  padding: 0 !important;
  background: $border-color !important;
}

//------------------overview------------------
$content-height: calc(100vh - 43px); // height of .menu sums up to 43px

.overview {
  background: white;

  .menu {
    display: flex;
    width: calc(100% - 20px);
    padding: 10px 10px 0;
    font-weight: 700;
    z-index: 100;
    background: $key-color;
    align-items: flex-start;

    .menu-item {
      height: 17px;
      margin-right: 1px;
      padding: 8px 13px;
      border-radius: 8px 8px 0 0;
      background: rgba(255, 255, 255, 0.5);
      font-size: 14px;
      text-decoration: none;
      white-space: nowrap;
      color: black;
      &.selected {
        background: white;
      }
    }
  }
  .route-container {
    max-height: $content-height;
    overflow: auto;
  }
  button {
    cursor: pointer;
    &:disabled {
      display: none;
    }
    &.reset {
      display: block;
      position: fixed;
      top: 0;
      right: 10px;
      padding: 5px;
      border-radius: 0 0 8px 8px;
      background: rgba(255, 255, 255, 0.5);
      border: none;
      font-size: 12px;
      color: black;
      .highlight {
        font-weight: bold;
      }
      &:disabled {
        cursor: auto;
        .hide {
          visibility: hidden;
        }
      }
    }
  }
}

//------------------summary------------------
#summary {
  padding-top: 30px;
  text-align: center;
  #benchmark_setup {
    width: 100%;
    overflow-x: scroll;
    margin: 40px 0;
    table {
      border-collapse: collapse;
      width: 100%;
      td,
      th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      .options {
        ul {
          margin: 0;
          padding: 0 0 0 17px;
        }
        li {
          text-align: left;
          font-size: 9pt;
          list-style: none;
        }
      }
      .benchmark,
      th {
        font-weight: bold;
      }

      tr:nth-child(even) {
        background-color: mix($hover-color, white, 33%);
      }

      tr:hover {
        background-color: mix($hover-color, white, 66%);
      }

      th {
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: left;
        width: 14vw;
      }
    }
  }
  #statistics .rt-table {
    .rt-td {
      padding-top: 8px;
      padding-bottom: 8px;
      .cell {
        text-align: right;
      }
    }
    .row-title {
      font-weight: 700;
    }
    .rt-tr {
      &-group {
        border-bottom: $table-border !important;
      }
    }
    .columns {
      cursor: pointer;
      &:hover {
        background-color: $hover-color;
      }
    }
  }

  p {
    margin-top: 40px;
  }
}

//------------------table------------------
.mainTable {
  a {
    text-decoration: none;
    display: block;
  }
  a:hover {
    background-color: $hover-color;
  }
  a:focus {
    outline: 1px dotted red;
  }
  .fixed {
    justify-content: space-around;
    width: 33%;
    margin: auto;

    input {
      margin-right: 40px;
    }
  }
  .ReactTable {
    // Add scroll bar inside table instead of relying on outer scroll bar.
    // otherwise scroll bar extends besides pagination bar.
    height: $content-height;
    .rt-table {
      // Better have vertical scroll bar always visible (less jumping around)
      overflow-y: scroll;
    }

    // force pagination bar to bottom by preventing other elements from growing
    .rt-thead,
    .rt-tbody,
    .rt-tr-group {
      flex-grow: 0;
    }
  }

  .rt-thead {
    &.-headerGroups > div > div {
      &:first-child {
        width: 30vw;
      }
    }
    .rt-resizable-header:hover {
      // TODO: Something like :not(:has(.selectColumns:hover)) would be good
      // to avoid coloring the background if the user hovers over a nested button,
      // but :has is not usable yet.
      background-color: $hover-color;
    }
  }

  .rt-tbody {
    span {
      text-align: center;
    }
    .row_id:not(:nth-child(1)) {
      font-size: 9pt;
      border-left: 1px solid black;
      margin-left: 5px;
      padding-left: 5px;
      height: 100%;
      color: #484848;
    }
    .rt-td {
      padding: 2px;
      text-align: right;
      > * {
        padding: 6px 2px;
        height: 100%;
      }
    }
    .row__name {
      text-align: left;
      display: inline-block;
      width: auto !important;
      color: black;
      &--cellLink {
        color: black;
      }
    }
    .rt-tr-group {
      border-bottom: $table-border !important;
    }
    .rt-tr-group:last-child {
      border-bottom: 1px solid lightgrey;
    }
  }

  .pagination-bottom {
    position: sticky;
    bottom: 0;
    z-index: 99;
    background: white;
  }

  .correct {
    color: green;
  }
  .error {
    color: magenta;
  }
  .unknown,
  .correct-unconfirmed {
    color: $key-color;
  }
  .wrong {
    color: red;
  }
  .aborted {
    text-align: center;
  }
  .aborted:after {
    content: "—";
  }
  input {
    width: 100%;
    text-align: right;
    &::placeholder {
      color: lightgray;
    }
  }
  select {
    height: 100%;
  }
}

.quantilePlot {
  margin: 20px;

  .rv-discrete-color-legend {
    padding: 0;
    border: 1px solid rgb(186, 186, 186);
    float: right;
    max-width: 50%;

    &.horizontal {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .settings-container {
    text-align: center;
    margin-bottom: 1em;
  }

  .setting {
    display: inline-block;
    margin: 0 1em;

    &-label {
      margin-right: 0.5em;
    }
  }
}

.quantilePlot1 {
  margin: 20px;
  text-align: center;

  .rv-discrete-color-legend.horizontal {
    padding: 0 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .rv-discrete-color-legend-item.clickable {
    padding: 3px 10px;

    &:hover {
      background: $hover-color;
    }
  }

  .settings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
  }

  .settings-subcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .setting {
    display: inline-block;
    margin: 0.5em 1em;

    &-label {
      margin-right: 0.5em;
    }
  }
}

.quantilePlot2 {
  margin: 20px;
  text-align: center;

  .rv-discrete-color-legend.horizontal {
    padding: 0 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .rv-discrete-color-legend-item.clickable {
    padding: 3px 10px;

    &:hover {
      background: $hover-color;
    }
  }

  .settings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 1em;
  }

  .settings-subcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  .setting {
    display: flex;
    align-items: center;
    margin: 0.5em 1em;
    background-color: $key-color;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);

    &-label {
      padding: 0.7em 1em;
    }

    &-select {
      margin: 0.7em 1em;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.quantilePlot3 {
  margin: 20px;

  .rv-discrete-color-legend.horizontal {
    padding: 0 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .rv-discrete-color-legend-item.clickable {
    padding: 3px 10px;
    text-align: center;

    &:hover {
      background: $hover-color;
    }
  }

  .settings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 1em;
  }

  .settings-subcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  .setting {
    display: flex;
    align-items: center;
    margin: 0.5em 1em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);

    &-label {
      background-color: $key-color;
      margin-right: 0.5em;
      padding: 0.7em 1em;
    }

    &-select {
      border: none;
      margin: 0.5em 1em;
      padding-right: 5px;
    }
  }
}

.quantilePlot4 {
  margin: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;

  .rv-discrete-color-legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .rv-discrete-color-legend-item {
      min-width: 13%;
    }
  }

  .rv-discrete-color-legend-item.clickable {
    &:hover {
      background: $hover-color;
    }
  }

  .settings-container {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 30%;
  }

  .setting {
    display: inline-block;
    padding: 1em 1.5em;
    margin: 1em 0;
    border: 1px solid #c3c3c3;

    &-label {
      font-size: 1.1rem;
      display: block;
      margin-bottom: 0.8em;
    }

    &-select {
      -moz-padding-start: calc(10px - 3px);
      border: 1px solid #c3c3c3;
      height: 25px;
      padding-left: 10px;
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.28);
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

.quantilePlot5 {
  margin: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;

  .rv-discrete-color-legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .rv-discrete-color-legend-item {
      min-width: 13%;
    }
  }

  .rv-discrete-color-legend-item.clickable {
    &:hover {
      background: $hover-color;
    }
  }

  .settings-container {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 30%;
  }

  .setting {
    display: inline-block;
    margin: 1em 0;
    border: 1px solid #c3c3c3;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.28);

    &-label {
      font-size: 1.2rem;
      display: block;
      padding: 0.4em 0;
      background-color: $key-color;
    }

    &-select {
      margin: 1.5em;
      -moz-padding-start: calc(10px - 3px);
      border: 1px solid #c3c3c3;
      height: 25px;
      padding-left: 5px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

.quantilePlot6 {
  margin: 20px;
  text-align: center;

  .rv-discrete-color-legend.horizontal {
    padding: 0 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .rv-discrete-color-legend-item.clickable {
    padding: 3px 10px;

    &:hover {
      background: $hover-color;
    }
  }

  .settings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 1em;
  }

  .settings-subcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  .setting {
    display: flex;
    align-items: center;
    margin: 0.5em 1em;
    border: 1px solid rgba(0, 0, 0, 0.3);

    &-label {
      padding: 0.7em 1em;
    }

    &-select {
      margin: 0.7em 1em;
      margin-left: 0;
      -moz-padding-start: calc(10px - 3px);
      border: 1px solid #c3c3c3;
      height: 25px;
      padding-left: 10px;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

.quantilePlot7 {
  margin: 20px;
  text-align: center;

  .rv-discrete-color-legend.horizontal {
    padding: 0 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .rv-discrete-color-legend-item.clickable {
    padding: 3px 10px;

    &:hover {
      background: $hover-color;
    }
  }

  .settings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 1em;
  }

  .settings-subcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  .setting {
    display: flex;
    align-items: center;
    margin: 0.5em 1em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);

    &-label {
      padding: 0.7em 1em;
    }

    &-select {
      margin: 0.7em 1em;
      margin-left: 0;
      -moz-padding-start: calc(10px - 3px);
      border: 1px solid #c3c3c3;
      height: 25px;
      padding-left: 10px;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

.settings-container.extracted-legend {
  flex-wrap: nowrap;

  .extracted-settings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;

    .setting {
      margin-top: 0;
      margin-bottom: 1em;
    }
  }

  .rv-discrete-color-legend {
    border: 1px solid rgba(0, 0, 0, 0.3);

    .rv-discrete-color-legend-item.clickable {
      text-align: left;
      white-space: nowrap;
    }
  }
}

.plot-and-legend-container {
  display: flex;
  align-items: flex-start;

  .rv-discrete-color-legend {
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-left: 1em;
    overflow-y: visible;

    .rv-discrete-color-legend-item.clickable {
      text-align: left;
      white-space: nowrap;
    }
  }
}

.legend-in-plot {
  text-align: left;
  padding: 0;
  border: 1px solid rgb(186, 186, 186);
  float: right;
  max-width: 50%;
}

.scatterPlot1 {
  text-align: center;
  margin: 20px;

  &__select select {
    margin: 10px;
  }

  .middle-line .rv-xy-plot__axis__line {
    stroke: $key-color;
  }

  &__plot {
    margin: auto;
  }

  button {
    margin: 10px;
  }

  .settings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
  }

  .settings-subcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .setting {
    display: inline-block;
    margin: 0.5em 1em;

    &-label {
      margin-right: 0.5em;
    }
  }
}

.scatterPlot2 {
  text-align: center;
  margin: 20px;

  &__select select {
    margin: 10px;
  }

  .middle-line .rv-xy-plot__axis__line {
    stroke: $key-color;
  }

  &__plot {
    margin: auto;
  }

  button {
    margin: 10px;
  }

  .settings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 1em;
  }

  .settings-subcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  .setting {
    display: inline-block;
    margin: 0.5em 1em;
    background-color: $key-color;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
    padding: 0.5em 1em;

    &-label {
      margin-right: 0.5em;
    }

    &-select {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.scatterPlot3 {
  text-align: center;
  margin: 20px;

  &__select select {
    margin: 10px;
  }

  .middle-line .rv-xy-plot__axis__line {
    stroke: $key-color;
  }

  &__plot {
    margin: auto;
  }

  button {
    margin: 10px;
  }

  .settings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 1em;
  }

  .settings-subcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  .setting {
    display: flex;
    margin: 0.5em 1em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);

    &-label {
      background-color: $key-color;
      margin-right: 0.5em;
      padding: 0.7em 1em;
    }

    &-select {
      border: none;
      margin: 0.5em 1em;
      padding-right: 5px;
    }
  }
}

.scatterPlot4 {
  text-align: center;
  display: flex;
  flex-direction: row-reverse;

  &__select select {
    margin: 10px;
  }

  .middle-line .rv-xy-plot__axis__line {
    stroke: $key-color;
  }

  &__plot {
    margin: auto;
  }

  button {
    margin: 10px;
  }

  .settings-container {
    margin: auto 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .setting {
    display: inline-block;
    padding: 1em 1.5em;
    margin: 1em 0;
    border: 1px solid #c3c3c3;

    &-label {
      font-size: 1.1rem;
      display: block;
      margin-bottom: 0.8em;
    }

    &-select {
      -moz-padding-start: calc(10px - 3px);
      border: 1px solid #c3c3c3;
      height: 25px;
      padding-left: 10px;
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.28);
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

.scatterPlot5 {
  text-align: center;
  display: flex;
  flex-direction: row-reverse;

  &__select select {
    margin: 10px;
  }

  .middle-line .rv-xy-plot__axis__line {
    stroke: $key-color;
  }

  &__plot {
    margin: auto;
  }

  button {
    margin: 10px;
  }

  .settings-container {
    margin: auto 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .setting {
    display: inline-block;
    margin: 1em 0;
    border: 1px solid #c3c3c3;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.28);

    &-label {
      font-size: 1.2rem;
      display: block;
      padding: 0.4em 0;
      background-color: $key-color;
    }

    &-select {
      margin: 1.5em;
      -moz-padding-start: calc(10px - 3px);
      border: 1px solid #c3c3c3;
      height: 25px;
      padding-left: 5px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

.scatterPlot6 {
  text-align: center;
  margin: 20px;

  &__select select {
    margin: 10px;
  }

  .middle-line .rv-xy-plot__axis__line {
    stroke: $key-color;
  }

  &__plot {
    margin: auto;
  }

  button {
    margin: 10px;
  }

  .settings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 1em;
  }

  .settings-subcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  .setting {
    display: inline-block;
    margin: 0.5em 1em;
    border: 1px solid rgba(0, 0, 0, 0.3);

    &-label {
      padding: 0.7em 1em;
    }

    &-select {
      margin: 0.7em 1em;
      margin-left: 0;
      -moz-padding-start: calc(10px - 3px);
      border: 1px solid #c3c3c3;
      height: 25px;
      padding-left: 10px;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

.scatterPlot7 {
  text-align: center;
  margin: 20px;

  &__select select {
    margin: 10px;
  }

  .middle-line .rv-xy-plot__axis__line {
    stroke: $key-color;
  }

  &__plot {
    margin: auto;
  }

  button {
    margin: 10px;
  }

  .settings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 1em;
  }

  .settings-subcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  .setting {
    display: inline-block;
    margin: 0.5em 1em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);

    &-label {
      padding: 0.7em 1em;
    }

    &-select {
      margin: 0.7em 1em;
      margin-left: 0;
      -moz-padding-start: calc(10px - 3px);
      border: 1px solid #c3c3c3;
      height: 25px;
      padding-left: 10px;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

.plot {
  &__noresults {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.info {
  margin: 40px;

  &-header {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    h1 {
      margin: 0;
    }
    span {
      font-size: 9pt;
      border: 1px solid $key-color;
      padding: 5px;
    }
  }
}

.ReactModal__Body--open {
  // stop body from scrolling while overlay is open
  overflow: hidden;
}
.ReactModal__Overlay {
  z-index: 900;
}
.overlay {
  position: fixed;
  overflow: scroll;
  top: 80px;
  right: 20px;
  left: 20px;
  bottom: 40px;
  background: white;
  border: 5px solid grey;
  border-radius: 5px;

  h1 {
    margin-bottom: 40px;
  }
  th,
  td {
    cursor: pointer;
    text-align: center;
    label {
      cursor: pointer;
    }
    background: white;
    // color: #ab0202;
    color: #8e8d8d;
    &.checked {
      color: black;
    }
  }
  th:first-child {
    background: white;
  }
  td:first-child {
    width: 30%;
    text-align: left;
  }
  input {
    display: none;
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    .btn {
      margin-top: 50px;
      width: 20vw;
    }
  }

  th {
    border-bottom: 1px solid black;
  }

  .closing {
    cursor: pointer;
    font-size: 120%;
    border-radius: 4px;

    &:hover {
      color: white;
      background: black;
    }
  }

  &.second-level {
    .link-overlay-header-container {
      background-color: white;
    }

    .link-overlay-text {
      margin-top: 0;
    }
  }

  .link-overlay {
    &-file-link {
      color: blue;
      text-decoration: underline;
      background-color: inherit;
      border: none;
      font: inherit;

      &:hover {
        cursor: pointer;
      }
    }

    &-header-container {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      position: sticky;
      top: 0;
      left: 0;
      height: 30px;
      padding: 10px 10px 0;

      // This container must not receive pointer events, otherwise reaching
      // through to link-overlay-text does not work. But all UI elements
      // in it need to be clickable.
      pointer-events: none;
      & > * {
        pointer-events: auto;
      }
    }

    &-back {
      &-button:hover {
        cursor: pointer;
      }

      &-icon {
        margin-right: 1em;
      }
    }

    &-text {
      // height of .link-overlay-header-container
      margin-top: -30px;
      padding: 0px 10px 10px 10px;
    }
  }
}

.rt-td {
  text-align: left;
}
.ReactTable {
  border: none !important;
}
