{
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": ["airbnb-base", "react-app", "prettier"],
  "env": {
    "es6": true,
    "mocha": true,
    "browser": true
  },
  "rules": {
    "no-console": "off", // as we are only producing a static local file we will ignore this rule
    "no-underscore-dangle": "off", // we sometimes access private fields
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/tests/**/*.js"]}]
  }
}
