Source: benchexec
Section: utils
Priority: optional
Maintainer: Philipp Wendler <debian@philippwendler.de>
Build-Depends: debhelper-compat (= 12),
               dh-apparmor,
               dh-python,
               python3 (>= 3.8),
               python3-setuptools,
               python3-lxml,
               python3-yaml (>= 3.12),
               python3-pytest
Standards-Version: 3.9.6.1
X-Python3-Version: >= 3.8
Homepage: https://github.com/sosy-lab/benchexec
Vcs-Git: https://github.com/sosy-lab/benchexec.git
Vcs-Browser: https://github.com/sosy-lab/benchexec

Package: benchexec
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: ${python3:Depends}, python3-pkg-resources, ${misc:Depends}, ucf
Recommends: cpu-energy-meter, fuse-overlayfs (>= 1.10), libseccomp2, lxcfs, python3-coloredlogs, python3-pystemd
Description: Framework for Reliable Benchmarking and Resource Measurement
 BenchExec allows benchmarking non-interactive tools on Linux systems.
 It measures CPU time, wall time, and memory usage of a tool,
 and allows one to specify limits for these resources.
 It also allows one to limit the CPU cores and (on NUMA systems) memory regions.
 In addition to measuring resource usage, BenchExec can verify
 that the result of the tool was as expected, and extract
 further statistical data from the output. Results from multiple runs
 can be combined into CSV and interactive HTML tables,
 of which the latter provide scatter and quantile plots.
 .
 Contrary to other benchmarking frameworks,
 it is able to reliably measure and limit resource usage of the benchmarked tool
 even if it spawns subprocesses. In order to achieve this,
 it uses the cgroups feature of the Linux kernel
 to correctly handle groups of processes.
